.header {
    padding: 1rem 0 3rem;

}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex; //stack items left to right
    list-style-type:none; //remove bulletpoints
    margin: 0; //remove margin shifts that lists typically get. 

}

.nav-item {
    color: #999999;
    font-size:.9rem;
    margin-right: 1.3rem; 
    text-decoration: none; //remove underline
}

//darkens color of text on hover. 
.nav-item:hover {
    color:#666666;
}

//darken selected page text
.active-nav-item {
    color: #333333;
}