.header {
    position: fixed;
    background-color: #89BAF0;
    border-bottom: 3px solid black;
    min-width: auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    text-align: center;
    list-style-type:none; //remove bulletpoints
}

.nav-item {
    color: #000000;
    font-size: 1rem;
    margin-right: 1.3rem;
    margin-left: .5rem;
    text-decoration: none; //remove underline
}

//lighten color of text on hover. 
.nav-item:hover {
    color:#666666;
}

//darken and increase size of selected page text
.active-nav-item {
    font-size: 1.3rem;
    color: #000000;
    -webkit-text-stroke: .1rem;
    -webkit-text-fill-color: #333333;
}