.header {
    position: absolute;
    padding: 1rem 0 3rem;
    background: fixed;
    background-color: transparent;
}

.headerScrolling {
    position: fixed;
    //padding: 1rem 0 3rem;
    background: fixed;
    
    
}

.containerForeground {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex; //stack items left to right
    list-style-type:none; //remove bulletpoints
    margin: 0; //remove margin shifts that lists typically get. 

}

.nav-item {
    color: #999999;
    font-size:.9rem;
    margin-right: 1.3rem; 
    text-decoration: none; //remove underline
}

//darkens color of text on hover. 
.nav-item:hover {
    color:#666666;
}

//darken selected page text
.active-nav-item {
    color: #333333;
}